@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');
body{
    font-family:'Poppins';
    font-size:medium;
    }
    
.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.place-card{
    border:0.5px solid;
    border-color:none;
    border-radius: 20px;
    width:20vmax;
    height:25vmax;
    margin:2vmin;
    color:white;
    transition:all 0.5s ease;
}
h3{
    padding:0 0 0 2vmin;
}
p{
    padding:0 0 0 2vmin;
}

.p1{
    background-color:rgb(222,49,81);
}

.p2{
    background-color:rgb(227,59,48);
}

.p3{
    background-color:rgb(204,45,74);
}

.p4{
    background-color:rgb(188,26,110);
}

.img-p{
    height:13vmax;
    border-radius:20px 20px 0 0;
    width:20vmax;
}

.place-card:hover{
    -webkit-box-shadow: -1px 1px 5px 9px rgba(70, 69, 70, 0.64);
    -moz-box-shadow: -1px 1px 5px 9px rgba(70, 69, 70, 0.64);
    box-shadow: -1px 1px 5px 9px rgba(70, 69, 70, 0.64);
    transform: rotate(2deg);
}